<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}"/>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-3 mr-0 text-center" href="#">新兴技术与产业发展预测系统</a>
    <!-- 五个导航栏-->
    <form class="form-inline nav-item col-sm-9 col-md-9 mr-0">
        <ul class="nav">
            <li class="active">
                <a href="#Blank" data-toggle="tab">
                    <button class="btn btn-outline-info ml-5" type="button">系统简介</button>
                </a>
            </li>
            <li>
                <a href="#MainBoard" data-toggle="tab">
                    <button class="btn btn-outline-primary ml-5" type="button">3D打印技术监测</button>
                </a>
            </li>
            <li>
                <a href="#MainBoard" data-toggle="tab">
                    <button class="btn btn-outline-primary ml-5" type="button">碳纳米管与石墨烯监测</button>
                </a>
            </li>
            <li>
                <a href="#MainBoard" data-toggle="tab">
                    <button class="btn btn-outline-primary ml-5" type="button">人工智能监测</button>
                </a>
            </li>
            <li>
                <a href="#Blank" data-toggle="tab">
                    <button class="btn btn-outline-info ml-5" type="button">系统管理</button>
                </a>
            </li>
        </ul>
    </form>
</nav>

<div class="container-fluid">
    <div id="NavTabContent" class="tab-content">
        <!-- 点击系统简介时出现的标签页-->
        <div class="tab-pane active" id="Blank">
            <p>简介界面</p>
        </div>
        <!--点击中间三个子系统时出现的标签页-->
        <div class="row tab-pane fade" id="MainBoard">
            <nav class="col-md-3 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" style="top:40px">
                    <ul class="nav flex-column">
                        <li class="nav-item active">
                            <a class="nav-link btn btn-outline-warning" href="#Intro2SubSys" data-toggle="tab">
                                子系统简介
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-warning" href="#ExpertInfo" data-toggle="tab">
                                专家信息管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-warning" href="#ExpertJudge" data-toggle="tab">
                                <span data-feather="users"></span>
                                新兴技术产业化阶段专家判断
                            </a>
                        </li>

                        <!-- 科学发展与产业化阶段关联趋势  下拉item-->
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-warning" data-toggle="collapse" href="#SciencePrediction"
                               role="button" aria-expanded="false" aria-controls="SciencePrediction">
                                科学发展与产业化阶段关联趋势
                            </a>
                        </li>
                        <div class="collapse" id="SciencePrediction">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link btn-sm btn-outline-warning text-center" data-toggle="collapse"
                                       href="#ScienceHeatPrediction" role="button" aria-expanded="false"
                                       aria-controls="ScienceHeatPrediction">
                                        科学热度与产业化阶段关联趋势
                                    </a>
                                </li>
                                <div class="collapse" id="ScienceHeatPrediction">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab">
                                                总体分析
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab">
                                                国家分析
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <a class="nav-link btn-sm btn-outline-warning text-center" data-toggle="collapse"
                                       href="#ScienceInfluencePrediction" role="button" aria-expanded="true"
                                       aria-controls="ScienceInfluencePrediction">
                                        科学影响力与产业化阶段关联趋势
                                    </a>
                                </li>
                                <div class="collapse" id="ScienceInfluencePrediction">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab">
                                                总体分析
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab">
                                                国家分析
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>

                        <!-- 技术发展与产业化阶段关联趋势  下拉item-->
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-warning" data-toggle="collapse"
                               href="#TechnologyPrediction" role="button" aria-expanded="false"
                               aria-controls="TechnologyPrediction">
                                技术发展与产业化阶段关联趋势
                            </a>
                        </li>
                        <div class="collapse" id="TechnologyPrediction">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link btn-sm btn-outline-warning text-center" data-toggle="collapse"
                                       href="#TechnologyHeatPrediction" role="button" aria-expanded="false"
                                       aria-controls="TechnologyHeatPrediction">
                                        技术热度与产业化阶段关联趋势
                                    </a>
                                </li>
                                <div class="collapse" id="TechnologyHeatPrediction">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab">
                                                总体分析
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab">
                                                国家分析
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <a class="nav-link btn-sm btn-outline-warning text-center" data-toggle="collapse"
                                       href="#TechnologyInfluencePrediction" role="button" aria-expanded="true"
                                       aria-controls="TechnologyInfluencePrediction">
                                        技术影响力与产业化阶段关联趋势
                                    </a>
                                </li>
                                <div class="collapse" id="TechnologyInfluencePrediction">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab">
                                                总体分析
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab">
                                                国家分析
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>

                        <!-- 科学与技术发展关联聚类预测 -->
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-warning" data-toggle="collapse"
                               href="#SciAndTecClusterPrediction" role="button" aria-expanded="false"
                               aria-controls="SciAndTecClusterPrediction">
                                科学与技术发展关联聚类预测
                            </a>
                        </li>
                        <div class="collapse" id="SciAndTecClusterPrediction">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link btn-sm btn-outline-warning text-center" data-toggle="collapse"
                                       href="#SciAndTecClusterHeatPrediction" role="button" aria-expanded="false"
                                       aria-controls="SciAndTecClusterHeatPrediction">
                                        科学与技术热度关联聚类预测
                                    </a>
                                </li>
                                <div class="collapse" id="SciAndTecClusterHeatPrediction">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab">
                                                总体分析
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab">
                                                国家分析
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <a class="nav-link btn-sm btn-outline-warning text-center" data-toggle="collapse"
                                       href="#SciAndTecClusterInfluencePrediction" role="button" aria-expanded="true"
                                       aria-controls="SciAndTecClusterInfluencePrediction">
                                        科学与技术影响力关联聚类预测
                                    </a>
                                </li>
                                <div class="collapse" id="SciAndTecClusterInfluencePrediction">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab">
                                                总体分析
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab">
                                                国家分析
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-warning" href="#TestReport" data-toggle="tab">
                                监测报告
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- 二级菜单下对右下方的块进行修改-->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-14 pt-3 px-4">
                <!-- 面包屑导航-->
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                      <ul id="BreadNav" class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">2013</a></li>
                        <li class="active">十一月</li>
                        </ul>
                </div>

                <div id="MainContent" class="tab-content">
                    <div class="tab-pane active" id="Intro2SubSys">
                        子系统简介
                    </div>
                    <div class="tab-pane fade" id="ExpertInfo">
                        专家信息管理
                    </div>
                    <div class="tab-pane fade" id="ExpertJudge">
                        专家判断
                    </div>
                    <!-- 展示总体信息子页面-->
                    <div class="tab-pane fade" id="TotalInfoRepresent">
                        <p>总体信息</p>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                            <h1 class="h2">Dashboard</h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group mr-2">
                                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                                </div>
                                <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                    <span data-feather="calendar"></span>
                                    This week
                                </button>
                            </div>
                        </div>
                        <canvas class="my-4" id="myChartTotal" width="900" height="380"></canvas>
                    </div>
                    <!-- 展示国家信息子页面-->
                    <div class="tab-pane fade" id="CountryInfoRepresent">
                        <p>国家信息</p>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                            <h1 class="h2">Dashboard</h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group mr-2">
                                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                                </div>
                                <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                    <span data-feather="calendar"></span>
                                    This week
                                </button>
                            </div>
                        </div>
                        <canvas class="my-4" id="myChartCountry" width="900" height="380"></canvas>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<!--<ul id="myTab" class="nav nav-tabs">-->
<!--<li class="active">-->
<!--<a href="#jmeter" data-toggle="tab">-->
<!--菜鸟教程-->
<!--</a>-->
<!--</li>-->
<!--<li><a href="#ios" data-toggle="tab">-->
<!--<button>ios</button>-->
<!--</a></li>-->
<!--<li class="dropdown">-->
<!--<a href="#" id="myTabDrop1" class="dropdown-toggle"-->
<!--data-toggle="dropdown">Java-->
<!--<b class="caret"></b>-->
<!--</a>-->
<!--<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">-->
<!--<li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>-->
<!--<li><a href="#jmeter" tabindex="-1" data-toggle="tab">ejb</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--<div id="myTabContent" class="tab-content">-->
<!--<div class="tab-pane fade in active" id="home">-->
<!--<p>菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。</p>-->
<!--</div>-->
<!--<div class="tab-pane fade" id="ios">-->
<!--<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple-->
<!--TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>-->
<!--</div>-->
<!--<div class="tab-pane fade" id="jmeter">-->
<!--<div class="row">-->
<!--<div class="span2">-->
<!--<ul class="nav nav-tabs list-group">-->
<!--<li class="active">-->
<!--<a href="#li1" data-toggle="tab">-->
<!--li1-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#li2" data-toggle="tab">li2</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="span5">-->
<!--<div id="tabContent" class="tab-content">-->
<!--<div class="tab-pane active" id="li1">-->
<!--<p>梦想。</p>-->
<!--</div>-->
<!--<div class="tab-pane" id="li2">-->
<!--<p>iOS-->
<!--。fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane fade" id="ejb">-->
<!--<p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。-->
<!--</p>-->
<!--</div>-->
</div>

<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-slim.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
</body>

</html>