<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-confirm.min.css') }}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">

    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-submenu.js') }}"></script>
    <script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
    <script src="../static/js/bootstrap-select.min.js"></script>
    {#    <script src="{{ url_for('static',filename='js/jquery-1.10.2.min.js') }}"></script>#}
    <script src="{{ url_for('static',filename='js/jquery-confirm.min.js') }}"></script>
    {#    <script src="jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>#}
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-3 mr-0 text-center" href="#">新兴技术与产业发展预测系统</a>
    <!-- 五个导航栏-->
    <form class="form-inline nav-item col-sm-9 col-md-9 mr-0">
        <ul class="nav" style="list-style:none">
            <li class="active">
                <a name="FirstDirectory" href="#Blank" data-toggle="tab">
                    <button id="test" class="btn btn-outline-info ml-5" type="button" value="系统简介">系统简介</button>
                </a>
            </li>
            <li>
                <a name="FirstDirectory" href="#MainBoard" data-toggle="tab">
                    <button class="btn btn-outline-primary ml-5" type="button">3D打印技术监测</button>
                </a>
            </li>
            <li>
                <a name="FirstDirectory" href="#MainBoard" data-toggle="tab">
                    <button class="btn btn-outline-primary ml-5" type="button">碳纳米管与石墨烯监测</button>
                </a>
            </li>
            <li>
                <a name="FirstDirectory" href="#MainBoard" data-toggle="tab">
                    <button class="btn btn-outline-primary ml-5" type="button">人工智能监测</button>
                </a>
            </li>
            <li>
                <a name="FirstDirectory" href="#Blank" data-toggle="tab">
                    <button class="btn btn-outline-info ml-5" type="button">系统管理</button>
                </a>
            </li>
        </ul>
    </form>
</nav>
<div class="container-fluid">
    <div id="NavTabContent" class="tab-content">
        <!-- 点击系统简介时出现的标签页-->
        <div class="tab-pane active" id="Blank">
            <p id="SystemIntroduction">简介界面</p>
        </div>
        <!--点击中间三个子系统时出现的标签页-->
        <div class="row tab-pane fade" id="MainBoard">
            <!-- todo:不记录点击状态 -->
            <nav class="col-md-3 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" style="top:40px">
                    <ul name="NavItemUl" class="nav flex-column">
                        <li name="SecondDirectory" class="nav-item active">
                            <a id="ResetSideBarTarget" class="nav-link btn btn-outline-warning" href="#Intro2SubSys"
                               data-toggle="tab" aria-selected="false">子系统简介</a>
                        </li>
                        <li name="SecondDirectory" class="nav-item">
                            <a name="SecondDirectory_a" class="nav-link btn btn-outline-warning" href="#ExpertInfo"
                               data-toggle="tab">专家信息管理</a>
                        </li>
                        <li name="SecondDirectory" class="nav-item">
                            <a name="SecondDirectory_a" class="nav-link btn btn-outline-warning" href="#ExpertJudge"
                               data-toggle="tab" role="button">
                                <span data-feather="users"></span>新兴技术产业发展阶段专家判断</a>
                        </li>
                        <!-- 科学发展与产业发展阶段关联趋势  下拉item-->
                        <li name="SecondDirectory" class="nav-item">
                            <a id="ScienceDevelop" class="nav-link btn btn-outline-warning" data-toggle="collapse"
                               href="#SciencePrediction"
                               role="button" aria-expanded="false" aria-controls="SciencePrediction">科学发展与产业发展阶段关联趋势</a>
                        </li>
                        <div name="CollapseBox" class="collapse" id="SciencePrediction">
                            <ul name="NavItemUl" class="nav flex-column">
                                <li name="ThirdDirectory" class="nav-item">
                                    <a id="ScienceHeat" class="nav-link btn-sm btn-outline-warning text-center"
                                       data-toggle="collapse"
                                       href="#ScienceHeatPrediction" role="button" aria-expanded="false"
                                       aria-controls="ScienceHeatPrediction" data-parent="#ScienceDevelop">科学发展热度与产业发展阶段关联趋势</a>
                                </li>
                                <div name="CollapseBox" class="collapse" id="ScienceHeatPrediction">
                                    <ul name="NavItemUl" class="nav flex-column">
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab" data-parent="#ScienceHeat">总体分析</a>
                                        </li>
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab"
                                               data-parent="#ScienceHeat">国家分析</a>
                                        </li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <a id="ScienceInfluence" name="ThirdDirectory"
                                       class="nav-link btn-sm btn-outline-warning text-center" data-toggle="collapse"
                                       href="#ScienceInfluencePrediction" role="button" aria-expanded="true"
                                       aria-controls="ScienceInfluencePrediction" data-parent="#ScienceDevelop">科学发展影响力与产业发展关联趋势</a>
                                </li>
                                <div name="CollapseBox" class="collapse" id="ScienceInfluencePrediction">
                                    <ul name="NavItemUl" class="nav flex-column">
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab"
                                               data-parent="#ScienceInfluence">总体分析</a>
                                        </li>
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab"
                                               data-parent="#ScienceInfluence">国家分析</a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                        <!-- 技术发展与产业化阶段关联趋势  下拉item-->
                        <li name="SecondDirectory" class="nav-item">
                            <a id="TechnologyDevelop" class="nav-link btn btn-outline-warning" data-toggle="collapse"
                               href="#TechnologyPrediction" role="button" aria-expanded="false"
                               aria-controls="TechnologyPrediction">技术发展与产业发展阶段关联趋势</a>
                        </li>
                        <div name="CollapseBox" class="collapse" id="TechnologyPrediction">
                            <ul name="NavItemUl" class="nav flex-column">
                                <li name="ThirdDirectory" class="nav-item">
                                    <a id="TechnologyHead" class="nav-link btn-sm btn-outline-warning text-center"
                                       data-toggle="collapse"
                                       href="#TechnologyHeatPrediction" role="button" aria-expanded="false"
                                       aria-controls="TechnologyHeatPrediction" data-parent="#TechnologyDevelop">技术发展热度与产业发展阶段关联趋势</a>
                                </li>
                                <div name="CollapseBox" class="collapse" id="TechnologyHeatPrediction">
                                    <ul name="NavItemUl" class="nav flex-column">
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab"
                                               data-parent="#TechnologyHead">总体分析</a>
                                        </li>
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab"
                                               data-parent="#TechnologyHead">国家分析</a>
                                        </li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <a id="TechnologyInfluence" name="ThirdDirectory"
                                       class="nav-link btn-sm btn-outline-warning text-center" data-toggle="collapse"
                                       href="#TechnologyInfluencePrediction" role="button" aria-expanded="true"
                                       aria-controls="TechnologyInfluencePrediction" data-parent="#TechnologyDevelop">技术发展影响力与产业发展阶段关联趋势</a>
                                </li>
                                <div name="CollapseBox" class="collapse" id="TechnologyInfluencePrediction">
                                    <ul name="NavItemUl" class="nav flex-column">
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab"
                                               data-parent="#TechnologyInfluence">总体分析</a>
                                        </li>
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab"
                                               data-parent="#TechnologyInfluence">国家分析</a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>

                        <!-- 科学与技术发展关联聚类预测 -->
                        <li name="SecondDirectory" class="nav-item">
                            <a id="SciAndTecCluster" class="nav-link btn btn-outline-warning" data-toggle="collapse"
                               href="#SciAndTecClusterPrediction" role="button" aria-expanded="false"
                               aria-controls="SciAndTecClusterPrediction">
                                科学与技术发展关联聚类监测
                            </a>
                        </li>
                        <div name="CollapseBox" class="collapse" id="SciAndTecClusterPrediction">
                            <ul name="NavItemUl" class="nav flex-column">
                                <li name="ThirdDirectory" class="nav-item">
                                    <a id="SciAndTecHeat" class="nav-link btn-sm btn-outline-warning text-center"
                                       data-toggle="collapse"
                                       href="#SciAndTecClusterHeatPrediction" role="button" aria-expanded="false"
                                       aria-controls="SciAndTecClusterHeatPrediction" data-parent="#SciAndTecCluster">科学热度与技术热度关联聚类监测</a>
                                </li>
                                <div name="CollapseBox" class="collapse" id="SciAndTecClusterHeatPrediction">
                                    <ul name="NavItemUl" class="nav flex-column">
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab"
                                               data-parent="#SciAndTecHeat">总体分析</a>
                                        </li>
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab"
                                               data-parent="#SciAndTecHeat">国家分析</a>
                                        </li>
                                    </ul>
                                </div>
                                <li name="ThirdDirectory" class="nav-item">
                                    <a id="SciAndTecInfluence" class="nav-link btn-sm btn-outline-warning text-center"
                                       data-toggle="collapse"
                                       href="#SciAndTecClusterInfluencePrediction" role="button" aria-expanded="false"
                                       aria-controls="SciAndTecClusterInfluencePrediction"
                                       data-parent="#SciAndTecCluster">科学影响力与技术影响力聚类关联分析</a>
                                </li>
                                <div name="CollapseBox" class="collapse" id="SciAndTecClusterInfluencePrediction">
                                    <ul name="NavItemUl" class="nav flex-column">
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#TotalInfoRepresent" data-toggle="tab"
                                               data-parent="#SciAndTecInfluence">总体分析</a>
                                        </li>
                                        <li name="ForthDirectory" class="nav-item">
                                            <a class="nav-link btn-sm btn-outline-warning text-center"
                                               href="#CountryInfoRepresent" data-toggle="tab"
                                               data-parent="#SciAndTecInfluence">国家分析</a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                        <li name="SecondDirectory" class="nav-item">
                            <a class="nav-link btn btn-outline-warning" href="#TestReport" data-toggle="tab">监测报告</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- 二级菜单下对右下方的块进行修改-->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-14 pt-3 px-4">
                <!-- 面包屑导航-->
                <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <ul id="BreadNav" class="breadcrumb" style="">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">2013</a></li>
                        <li class="active">十一月</li>
                    </ul>
                </div>
                <div id="MainContent" class="tab-content" :false>
                    <div class="tab-pane active" id="Intro2SubSys">
                        <p id="SubSystemIntroduction">子系统简介</p>
                    </div>
                    <div class="tab-pane fade" id="ExpertInfo">
                        <h1 class="text-lg-center">专家信息管理</h1>
                        <div class="offset-3 mt-3">
                            <form class="form" role="form">
                                <fieldset>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="name" style="margin-top: 8px">技术领域：</label>
                                        <div id="TechnicalFieldBox" class="span3" style="margin-left: 10px">
                                            <select id="TechnicalField" name="usertype"
                                                    class="selectpicker show-tick form-control" multiple
                                                    data-live-search="true"
                                                    data-max-options="10" data-max-options-text="最多可选择十个技术领域"
                                                    title="请选择">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="Name"
                                               style="margin-top: 8px;margin-left: 15px">姓名：</label>
                                        <div class="span3" style="margin-left: 20px">
                                            <input class="form-control" id="Name" type="text">
                                        </div>
                                        <label class="span3" for="Birthday" style="margin-top: 8px;margin-left: 150px">出生年份：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <select id="Birthday" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" style="margin-top: 8px;margin-left: 15px">性别：</label>
                                        <div class="span3" style="margin-left: 20px;margin-top: 10px">
                                            <label class="radio-inline">
                                                <input type="radio" value="男" name="sex">男
                                            </label>
                                            <label class="radio-inline" style="margin-left: 10px">
                                                <input type="radio" value="女" name="sex">女
                                            </label>
                                        </div>
                                        <label class="span3" for="nation"
                                               style="margin-top: 8px;margin-left: 300px">民族：</label>
                                        <div class="span3" style="margin-left: 20px">
                                            <input class="form-control" id="Nation" type="text">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="WorkPlace" style="margin-top: 8px">所在单位：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <input class="form-control" id="WorkPlace" type="text" style="width: 625px">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="Title"
                                               style="margin-top: 8px;margin-left: 15px">职称：</label>
                                        <div class="span3" style="margin-left: 20px">
                                            <input class="form-control" id="Title" type="text">
                                        </div>
                                        <label class="span3" for="Job"
                                               style="margin-top: 8px;margin-left: 150px">行政职务：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <input class="form-control" id="Job" type="text">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="City"
                                               style="margin-top: 8px;margin-left: 15px">城市：</label>
                                        <div class="span3" style="margin-left: 20px">
                                            <input class="form-control" id="City" type="text">
                                        </div>
                                        <label class="span3" for="Province" style="margin-top: 8px;margin-left: 80px">省、自治区、直辖市：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <select id="Province" class="form-control">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="Address" style="margin-top: 8px">通信地址：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <input class="form-control" id="Address" type="text" style="width: 625px">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="PostCode" style="margin-top: 8px">邮政编码：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <input class="form-control" id="PostCode" type="text">
                                        </div>
                                        <label class="span3" for="HighestDegree"
                                               style="margin-top: 8px;margin-left: 150px">最高学位：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <select id="HighestDegree" class="form-control">

                                            </select>
                                        </div>
                                    </div>
                                    <div id="GrantTime" class="row" style="margin-top: 20px">
                                        <label class="span3" style="margin-top: 8px">授予时间：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <select id="GrantYear" class="form-control">

                                            </select>
                                        </div>
                                        <span class="span3" style="margin-left: 10px;margin-top:8px;">年</span>
                                        <div class="span3" style="margin-left: 10px">
                                            <select id="GrantMonth" class="form-control">

                                            </select>
                                        </div>
                                        <span class="span3" style="margin-left: 10px;margin-top:8px;">月</span>
                                        <div class="span3" style="margin-left: 10px">
                                            <select id="GrantDay" class="form-control">

                                            </select>
                                        </div>
                                        <span class="span3" style="margin-left: 10px;margin-top:8px;">日</span>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="GrantUniversity" style="margin-top: 8px">授予学校：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <input class="form-control" id="GrantUniversity" type="text">
                                        </div>
                                        <label class="span3" for="GrantCountry"
                                               style="margin-top: 8px;margin-left:90px">授予国别（地区）：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <input class="form-control" id="GrantCountry" type="text">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="HonorAndReward"
                                               style="margin-top: 8px;margin-left: -43px">荣誉称号及奖励：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <input class="form-control" id="HonorAndReward" type="text"
                                                   style="width: 630px">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <label class="span3" for="Email" style="margin-top: 8px">电子邮箱：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <input class="form-control" id="Email" type="text">
                                        </div>
                                        <label class="span3" for="Phone" style="margin-top: 8px;margin-left: 150px">联系电话：</label>
                                        <div class="span3" style="margin-left: 10px">
                                            <input class="form-control" id="Phone" type="text">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="text-lg-center mt-3">
                            <button id="ExpertInfoEnter" type="button" class="btn btn-default btn-lg">确定</button>
                        </div>
                    </div>
                    <!-- 产业化阶段判断-->
                    <div class="tab-pane fade" id="ExpertJudge">
                        <h1 class="text-lg-center">专家判断技术产业化阶段</h1>
                        <!--选择大类和小类 -->
                        <form role="form">
                            <div class="form-group row mt-5">
                                <div class="btn btn-outline-primary offset-3 mr-4">
                                    选择领域
                                </div>
                                <select name="SelectSecondaryClass"
                                        id="JudgeStageSecondaryClass" class="form-control col-sm-2">
                                    <option hidden>请选择大类</option>
                                </select>
                                <select name="SelectThirdClass"
                                        id="JudgeStageThirdClass" class="form-control col-sm-2 ml-4">
                                    <option hidden>请选择小类</option>
                                </select>
                            </div>
                            <h3 class="text-lg-center mt-2">年份区间选择</h3>
                            <div class="form-group row mt-4">
                                <div class="btn btn-outline-primary offset-3 mr-4">
                                    研发期
                                </div>
                                <select name="SelectStageStartYears" class="form-control col-sm-2" id="DevelopStart">
                                    <option hidden>起始年份</option>
                                </select>
                                <select name="SelectStageStopYears" class="form-control col-sm-2 ml-4"
                                        id="DevelopStop">
                                    <option hidden>终止年份</option>
                                </select>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="btn btn-outline-primary offset-3 mr-4">
                                    初创期
                                </div>
                                <select name="SelectStageStartYears" class="form-control col-sm-2" id="InitialStart">
                                    <option hidden>起始年份</option>
                                </select>
                                <select name="SelectStageStopYears" class="form-control col-sm-2 ml-4"
                                        id="InitialStop">
                                    <option hidden>终止年份</option>
                                </select>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="btn btn-outline-primary offset-3 mr-4">
                                    成长期
                                </div>
                                <select name="SelectStageStartYears" class="form-control col-sm-2" id="GrowupStart">
                                    <option hidden>起始年份</option>
                                </select>
                                <select name="SelectStageStopYears" class="form-control col-sm-2 ml-4"
                                        id="GrowupStop">
                                    <option hidden>终止年份</option>
                                </select>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="btn btn-outline-primary offset-3 mr-4">
                                    扩张期
                                </div>
                                <select name="SelectStageStartYears" class="form-control col-sm-2" id="ExpandStart">
                                    <option hidden>起始年份</option>
                                </select>
                                <select name="SelectStageStopYears" class="form-control col-sm-2 ml-4"
                                        id="ExpandStop">
                                    <option hidden>终止年份</option>
                                </select>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="btn btn-outline-primary offset-3 mr-4">
                                    成熟期
                                </div>
                                <select name="SelectStageStartYears" class="form-control col-sm-2" id="MatureStart">
                                    <option hidden>起始年份</option>
                                </select>
                                <select name="SelectStageStopYears" class="form-control col-sm-2 ml-4"
                                        id="MatureStop">
                                    <option hidden>终止年份</option>
                                </select>
                            </div>
                            <button id="JudgeStageEnter" class="col-sm-2 btn-primary offset-5 mt-5" type="button">确定
                            </button>
                        </form>
                    </div>
                    <!-- 展示总体信息子页面-->
                    <div class="tab-pane fade" id="TotalInfoRepresent">
                        <form role="form">
                            <div class="form-group row mt-3">
                                <div class="btn btn-outline-primary offset-3 mr-4">
                                    选择领域
                                </div>
                                <select name="SelectSecondaryClass"
                                        id="RepresentTotalInfoSecondaryClass" class="form-control col-sm-2">
                                    <option hidden>请选择大类</option>
                                </select>
                                <select name="SelectThirdClass"
                                        id="RepresentTotalInfoThirdClassContent" class="form-control col-sm-2 ml-4">
                                    <option hidden>请选择小类</option>
                                </select>
                                <button id="TotalClassSelectEnter" class="btn btn-outline-primary ml-3"
                                        type="button">
                                    确定
                                </button>
                            </div>
                        </form>
                        <hr/>
                        <h3 id="TotalTitle" class="text-lg-center mt-5">年份区间选择</h3>
                        <div name="ChartContainer" id="TotalChartContainer" class="offset-1 mt-3">
                            <canvas class="my-4" id="TotalChart" width="900" height="380"></canvas>
                        </div>
                    </div>
                    <!-- 展示国家信息子页面-->
                    <div class="tab-pane fade" id="CountryInfoRepresent">
                        <form role="form">
                            <div class="form-group row mt-3">
                                <div class="btn btn-outline-primary offset-3 mr-4">
                                    选择领域
                                </div>
                                <select name="SelectSecondaryClass"
                                        id="RepresentClassCountryInfoSecondaryClass" class="form-control col-sm-2">
                                    <option hidden>请选择大类</option>
                                </select>
                                <select name="SelectThirdClass"
                                        id="RepresentClassCountryInfoThirdClass" class="form-control col-sm-2 ml-4">
                                    <option hidden>请选择小类</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="btn btn-outline-primary offset-3 mr-4">
                                    选择国家
                                </div>
                                <select name="SelectCountry"
                                        id="RepresentClassCountryInfoSelectCou" class="form-control col-sm-2">
                                    <option hidden>请选择国家</option>
                                </select>
                                <button id="ClassCountrySelectEnter" class="btn btn-outline-primary ml-5" type="button">
                                    确定
                                </button>
                            </div>
                        </form>
                        <hr/>
                        <h3 id="CountryTitle" class="text-lg-center mt-5">时间区间选择</h3>
                        <div name="ChartContainer" id="CountryChartContainer" class="offset-1 mt-3">
                            <canvas class="my-4" id="CountryChart" width="900" height="380"></canvas>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</div>
<script src="{{ url_for('static',filename='js/MainFunction/Reset.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainFunction/BreadNav.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainFunction/GetIntroduction.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainFunction/CommonFunction.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainFunction/ExpertInformationManage.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainFunction/ExpertJudge.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainFunction/TotalInfo.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainFunction/CountryInfo.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainFunction/index.js') }}"></script>
</body>
</html>