<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}"/>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-slim.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
</head>
<body>
<button id = "bt_post">
    POST测试按钮
</button>
<div id="dv_post">
    POST测试文本
</div>
<button id = "bt_get">
    GET测试按钮
</button>
<div id="dv_get">
    GET测试文本
</div>
<div name="test">
    GET测试文本
</div>
<div name="test">
    GET测试文本
</div>
<div name="test">
    GET测试文本
</div>
<ul id="BreadNav" class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">2013</a></li>
                        <li class="active">十一月</li>
                    </ul>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
<script src="{{ url_for('static',filename='js/CommonFunction.js') }}"></script>
</body>

</html>