<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/signin.css" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
</head>
<body class="text-center">
    <form class="form-signin" method="post" action="">
        <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
        <label for="LoginEmail" class="sr-only">Email address</label>
        <input type="" id="LoginEmail" class="form-control" placeholder="登录邮箱" name="email"required autofocus>
        <label for="LoginPassword" class="sr-only">Password</label>
        <input type="password" id="LoginPassword" class="form-control" placeholder="密码" name="password"required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button id="LoginEnter" type="button" class="btn btn-lg btn-primary btn-block">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    </form>
<script src="{{ url_for('static',filename='js/MainFunction/CommonFunction.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainFunction/login.js') }}"></script>
</body>
</html>